<div class="container">
  <div class="row">
    <div class="col-md-6 p-4">
      <h3 class="text-success">Variable   Declaration</h3>
      <h5 class="text-primary">Name  - {{studentObj.name}} {{studentObj.surname}}</h5>
      <h5 class="text-primary">Roll Number - {{studentObj.rollNumber}}</h5>
      <h5 class="text-primary">Is Indian - {{studentObj.isIndian}}</h5>
      <h5 class="text-primary">Date of Birth - {{studentObj.dob}}</h5>
      <h5 class="text-primary">Contact - {{studentObj.contactArray}}</h5>
      <h5 class="text-primary">Address - {{studentObj.address.addressLine1}}</h5>
      <h5 class="text-primary">{{studentObj.address.addressLine2}}</h5>
      <h5 class="text-primary">{{studentObj.address.city}}</h5>
      <h5 class="text-primary">{{studentObj.address.pin}}</h5>
    </div>
  </div>
</div>


