<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered border">
      <thead>
        <tr>
          <td></td>
          <td><input type="text" class="form-control" [(ngModel)]="myname"></td>
          <td><input type="text" class="form-control" [(ngModel)]="addr"></td>
          <td><input type="text" class="form-control" [(ngModel)]="mobile"></td>
          <td><button class="btn btn-primary" (click)="onAdd()">Add</button></td>
        </tr>
        <tr>
          <th>SrNo</th>
          <th>Name</th>
          <th>Address</th>
          <th>Mobile</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let myArray of infoArray;let sr = index">
          <td>{{sr+1}}</td>
          <td>{{myArray.myname}}</td>
          <td>{{myArray.addr}}</td>
          <td>{{myArray.mobile}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
