.div1{
  background-color: orange;
  padding:3 px;
  height: 4 px;

}
label{
  font-size: 12px;
  }
  .bgGray{
      background-color:lightgray;

  }
  .cancelBtn
  {
      background-color:gray;
  }
  .saveBtn
  {
      background-color: darkgray;
  }
.myTheme{
  background-color:gray;
}
.myBtn{
  background-color: darkorchid;
}
